@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<body data-parallax="true" class="bgImage">
    <div class="container">
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center d-flex">
                    <div class="card">
                        <div class="card-body flex-fill">
                            <h3 class="title">Cet utilisateur-trice est ni un-e formateur-trice ni un-e participant-e</h3>
                            <h4>Pour l'ajouter en tant qu'un-e formateur-trice, contacter l'administrateur</h4>
                            <h4>Pour l'ajouter en tant que participant-e, contacter un-e formateur-trice</h4>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
        </div>
</body>