@model mvc.Models.Appointment

@{
    ViewData["Title"] = "Modifier";
}

<br />
<br />
<br />
<br />
<body data-parallax="true" class="bgImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <h4 class="card-title">@ViewData["Title"]</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="AppointmentId" />
                                        <div class="form-group">
                                            <label asp-for="AppointmentName" class="control-label"></label>
                                            <input asp-for="AppointmentName" class="form-control" />
                                            <span asp-validation-for="AppointmentName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DateStart" class="control-label"></label>
                                            <input asp-for="DateStart" type="text" class="form-control datetimepicker" />
                                            <span asp-validation-for="DateStart" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DateEnd" class="control-label"></label>
                                            <input asp-for="DateEnd" type="text" class="form-control datetimepicker" />
                                            <span asp-validation-for="DateEnd" class="text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                                <label asp-for="TeacherId" class="control-label"></label>
                                                <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                                            </div>*@

                                        <input type="hidden" asp-for="TeacherId" />
                                        <div class="form-group">
                                            <input type="submit" value="Sauvegarder" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Index">Retourner à la liste de rendez-vous</a>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</body>

@section Scripts {

    <script>
        $('.datetimepicker').datetimepicker({
            locale: 'fr',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
    </script>
}