@model mvc.Models.Theory

@{
    ViewData["Title"] = "Ajouter un cours";
}

<br />
<br />
<br />
<br />
<body data-parallax="true" class="bgImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <h4 class="card-title">@ViewData["Title"]</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <form enctype="multipart/form-data" asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="TheoryName" class="control-label"></label>
                                        <input asp-for="TheoryName" class="form-control" />
                                        <span asp-validation-for="TheoryName" class="text-danger"></span>
                                    </div>
                                    <div class="border border-primary px-2">
                                        <div class="form-group">
                                            <label asp-for="AudioLink" class="control-label"></label>
                                            <input asp-for="AudioLink" class="form-control" />
                                            <span asp-validation-for="AudioLink" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-file-upload form-file-multiple">
                                            <label class="control-label">ou</label>
                                            <input name="fileAudio" type="file" multiple="" class="inputFileHidden">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputFileVisible" placeholder="Ajouter un mp3">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-fab btn-round btn-primary">
                                                        <i class="material-icons">attach_file</i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border border-primary px-2">
                                        <div class="form-group">
                                            <label asp-for="TheoryLink" class="control-label"></label>
                                            <input asp-for="TheoryLink" class="form-control" />
                                            <span asp-validation-for="TheoryLink" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-file-upload form-file-multiple">
                                            <label class="control-label">ou</label>
                                            <input name="files" type="file" class="inputFileHidden">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputFileVisible" placeholder="Ajouter un fichier">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-fab btn-round btn-primary">
                                                        <i class="material-icons">attach_file</i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-none">
                                        <label asp-for="HomeworkV2id" class="control-label"></label>
                                        <select asp-for="HomeworkV2id" class="form-control" asp-items="ViewBag.HomeworkV2id"></select>
                                    </div>
                                    <input type="hidden" asp-for="TeacherId" value="@ViewData["TeacherId"]" />
                                    <input asp-for="TheoryDate" type="hidden" class="form-control datetimepicker" value="@ViewData["TheoryDate"]" />
                                    <div class="form-group">
                                        <input type="submit" value="Sauvegarder" class="btn btn-success" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:history.back()">Revenir à la page précédente</a>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</body>

@section Scripts {

    <script>
        $('.datetimepicker').datetimepicker({
            locale: 'fr',
            format: 'yyyy-MM-DD',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
    </script>
}